@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-keen-dark-blue: var(--keen-dark-blue);
  --color-keen-blue: var(--keen-blue);
  --color-keen-light-blue: var(--keen-light-blue);
  --color-keen-red: var(--keen-red);
  --color-keen-light-grey: var(--keen-light-grey);
  --font-content: var(--font-albert-sans);
  --font-header: var(--font-figtree);
  --color-background: var(--keen-light-grey);
  --color-foreground: var(--keen-dark-blue);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--white);
  --color-secondary: var(--keen-light-blue);
  --color-primary-foreground: var(--white);
  --color-primary: var(--keen-blue);
  --color-popover-foreground: var(--black);
  --color-popover: var(--white);
  --color-card-foreground: var(--black);
  --color-card: var(--white);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --keen-dark-blue: #1e5772;
  --keen-blue: #26799f;
  --keen-light-blue: #3cb4c4;
  --keen-red: #c05148;
  --keen-light-grey: #e9e9e7;
  --radius: 0.625rem;
  --white: oklch(1 0 0);
  --black: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-content;
  }
  h1 {
    @apply font-header
  }
  h2 {
    @apply font-header
  }

  h2 {
    @apply font-header
  }
}

